.desktopNav {
  display: none;
}
.header {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
}

.burger {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 4px;
  border: 1px solid transparent;
}

.mobileNavigation {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
  gap: 32px;
  width: 100%;
}

.mobileNavigation li {
  width: 335px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.title {
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 110%;
  letter-spacing: -0.01em;
}
.mobilelogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 20px;
}

.mobileTitle {
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 110%;
  letter-spacing: -0.01em;
}

.mobileItem {
  padding: 4px 10px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.mobilesignInBtn {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid rgb(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 4px 10px;
  background: rgb(0, 0, 0, 0.05);
}

.mobilesignUpBtn {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid rgb(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 4px 10px;
  background: rgb(65, 105, 225);
}

.mobileItem,
.mobilesignInBtn,
.mobilesignUpBtn {
  display: block;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .desktopNav {
    display: none;
  }
  .header {
    padding: 16px 32px;
  }
}

@media (min-width: 1440px) {
  .desktopNav {
    display: block;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 64px;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 110%;
    letter-spacing: -0.01em;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    list-style-type: none;
  }

  .navLink {
    font-family: var(--second-family);
    padding: 0 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    transition:
      background-color,
      border 0.2s ease-in-out;
    border-radius: 8px;
  }

  .navLink:focus,
  .navLink:hover {
    border: 1px solid #ffffff;
  }

  .navLink:active {
    background-color: #4c4c4c;
    border: 1px solid #ffffff;
  }

  .signInBtn {
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 4px 10px;
    width: 58px;
    height: 35px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    background-color: rgb(255, 255, 255, 0.1);
    transition: background-color 0.2s ease-in-out;
  }

  .signInBtn:hover,
  .signInBtn:focus {
    background-color: #4169e1;
    border: 1px solid #4169e1;
  }

  .signInBtn:active {
    background-color: #1a2a5a;
    border: 1px solid #1a2a5a;
  }
  .signUpBtn {
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 4px 10px;
    width: 113px;
    height: 35px;
    background-color: #ffffff;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    transition: background-color 0.2s ease-in-out;
  }

  .signUpBtn:hover,
  .signUpBtn:focus {
    background-color: #7f7f7f;
  }

  .signUpBtn:active {
    background-color: #4c4c4c;
    border: 1px solid #7f7f7f;
  }

  .burger {
    display: none;
  }
}
