.main {
  min-height: 80vh;
  padding: 4rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--muted-teal);
}

@media (prefers-color-scheme: dark) {
  .heading {
    color: var(--khaki-beige);
  }
}

.description {
  text-align: center;
  margin: 0 auto 3rem;
  max-width: 600px;
  font-size: 1.1rem;
  color: var(--black);
  line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
  .description {
    color: var(--champagne-mist);
  }
}
